@import '../../Styling/BRAND.scss';
.Agenda{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.agenda-text{
    padding: 1.5rem 1.5rem;
}

.agenda-items{
    padding: 0;
    margin: 0;
}

.body-text{
    color: $text__light;
    margin: 1rem 0 0;
    line-height: 190%;
}


.header_2{
    font-weight: 500;
    margin: 0;
    @include section_title
}

@media screen and (min-width: 1000px) {
    .Agenda{
        width: $section_standard_width;
    }
}
